<div class="event-title">
  <%= event.verb %> <%= event.object['type'] %>: <a href="/<%= event.object['type'].underscore.pluralize %>/<%= event.object['id'] %>"><%= event.object['name'] %></a>
</div>
