<div class="event-title">
  <%= event.verb %> <%= event.parameters['old_value']['name'] %>'s <%= event.object['type'] %> to <%= event.target['name'] %>: <a href="/<%= event.object['type'].underscore.pluralize %>/<%= event.object['id'] %>"><%= event.object['name'] %></a>
</div>
