<%= simple_form_for(@comment) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :text %>
    <%= f.input :replied_to %>
    <%= f.association :commentable %>
    <%= f.association :commentable %>
    <%= f.association :team %>
    <%= f.association :creator %>
    <%= f.input :deleted_at %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
