<p id="notice"><%= notice %></p>

<h1>Calendar Events</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Calendarable</th>
      <th>Team</th>
      <th>Creator</th>
      <th>Deleted at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @calendar_events.each do |calendar_event| %>
      <tr>
        <td><%= calendar_event.name %></td>
        <td><%= calendar_event.start_date %></td>
        <td><%= calendar_event.end_date %></td>
        <td><%= calendar_event.calendarable %></td>
        <td><%= calendar_event.team %></td>
        <td><%= calendar_event.creator %></td>
        <td><%= calendar_event.deleted_at %></td>
        <td><%= link_to 'Show', calendar_event %></td>
        <td><%= link_to 'Edit', edit_calendar_event_path(calendar_event) %></td>
        <td><%= link_to 'Destroy', calendar_event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Calendar Event', new_calendar_event_path %>
