<div id="event-<%= event.id %>" class="event">
  <div class="event-left">
    <%= event.published.strftime('%H:%M') %>
    <img class="actor-avatar" src='<%= event.actor['avatar']%>' height="50px" width="50px">
    <a href="/<%= event.actor['type'].underscore.pluralize %>/<%= event.actor['id'] %>"><%= event.actor['name'] %></a>
  </div>
  <div class="event-body">
    <%
      curr_prefix, curr_partial = event.verb.split '.'
    %>
    <% if lookup_context.template_exists? curr_partial, "events/#{curr_prefix}", true %>
      <%= render partial: "events/#{curr_prefix}/#{curr_partial}", locals: {event: event} %>
    <% else %>
      <%= render partial: "events/partial/default", locals: {event: event} %>
    <% end %>
  </div>
</div>
