<div class="event-title">
  <%= event.verb %> to <%= event.target['name'] %>: <a href="/<%= event.object['type'].underscore.pluralize %>/<%= event.object['id'] %>"><%= event.object['name'] %></a>
</div>
